body {
    background-color: rgb(72, 72, 145);
    color: #ffffff;
    font-family: roboto;
}
#title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
  font-size: 2em;
}
#title, #description {

    text-align: center;
}
  #description {
    font-size: 18px;
    margin-bottom: 30px;
    font-style: italic;
  }
  
  #survey-form {
    width: 44%;
    margin: 0 auto;
    padding: 40px;
    background-color: rgb(30, 30, 68);
    border-radius: 5px;
    font-size: 1.2em;
  }
  
  #survey-form input[type="text"], #survey-form input[type="email"], #survey-form input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
  }
  
  #survey-form select, #survey-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  #survey-form input[type="radio"], #survey-form input[type="checkbox"] {
    margin-right: 10px;
  }
  
  #submit {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  #submit:hover {
    background-color: #45a049;
  }
  
  input {
    margin-top: 5px;
  }